UID=1000
GID=1000

WEB_PORT=8000
DB_PORT=5433

SECRET_KEY=troque-por-um-valor-aleatorio-longo
DJANGO_DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=treehash
POSTGRES_USER=treehash
POSTGRES_PASSWORD=treehash
DATABASE_URL=postgres://treehash:treehash@db:5432/treehash

SEED_USER_A=diretor
SEED_PASS_A=troque-esta-senha
SEED_USER_B=marcio
SEED_PASS_B=troque-esta-senha
