UID=1000
GID=1000

WEB_PORT=8000
DB_PORT=5433

SECRET_KEY=troque-por-um-valor-aleatorio-longo
DJANGO_DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=msgenc
POSTGRES_USER=msgenc
POSTGRES_PASSWORD=msgenc
DATABASE_URL=postgres://msgenc:msgenc@db:5432/msgenc

SEED_USER_A=diretor
SEED_PASS_A=troque-esta-senha
SEED_USER_B=marcio
SEED_PASS_B=troque-esta-senha

USER1_PASSWORD=
USER2_PASSWORD=
